{% extends "base.html" %} {% block title %} Contact Book {% endblock title %}

<div>
  {% block content %}

  <div>
    <div class="p-5">
  <form method="get" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="Search by name or email" />
    <button type="submit">Search</button>
  </form>
</div>



<div
  class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 p-5"
>
  {% for data in contacts %}
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
    <a href="">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="{% url "details" data.id %}">{{data.first_name}}</a>   </h5>
        <p>{{data.email}}</p>
        <p>{{data.phone}}</p>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{data.description}}</p>
    <div class='flex justify-between'>
      <a href="{% url "update" data.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
        Edit +   
    </a>
    <a href="{% url "delete" data.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 ">
        Delete    
    </a>
    </div>
</div>
  {% endfor %}
</div>
</div>

  {% endblock content %}
</div>
